{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="container allauth-signup">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 signup-center">
                <a href=""><img style=width:200px;" src="{% static 'icon/MeAnd_Logo1.png' %}" alt="MeAnd-logo2"></a>
                <h5>{% trans "Sign In" %}</h5>
                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}
                        会員登録がまだの方は, <a href="{{ signup_url }}">新規登録</a>
                        からお願いいたします。<br>
                        お会いできることを楽しみにしています。{% endblocktrans %}</p>

                    <div class="socialaccount_ballot">

                        <ul class="socialaccount_providers">

                            <li>{% include "account/snippets/provider_list.html" with process="login" %}</li>
                        </ul>

                        <p class="login-or">{% trans 'or' %}メールアドレスでログイン</p>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                    <p>{% blocktrans %} 会員登録がまだの方は、
                        <a href="{{ signup_url }}">新規登録</a> をお願いいたします。{% endblocktrans %}</p>
                {% endif %}

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <a class="button secondaryAction"
                       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                </form>


            </div>
            <div class="col-md-3"></div>

        </div>


    </div>
{% endblock %}
