{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="nda col-md-7">
                <h5>{{ user.last_name }}{{ user.first_name }}さん、カウンセラーのご登録ありがとうござます。</h5>
                <p>ご登録にあたり下記の内容のお手続きが必要となります。お手数ですがご協力何卒よろしくお願い致します。</p>
                <div class="register-info">
                    <ul>
                        <li>①ご本人確認書類のご登録</li>
                        <li>②資格証明書</li>
                        <li>③機密保持契約（NDA）</li>
                        <li style="color: red; font-size: 12px">
                            ※ご登録内容の確認、お手続きに3営業日〜5営業日頂いております。完了後メールにてご連絡させていただきます。
                        </li>
                    </ul>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="identification">
                        <h6>■ご本人確認書類(現住所記載の証明書)</h6>
                        <div class="identification-info">
                            <small style="display:inline-block;margin-bottom: 10px">以下、いずれかの写真を撮影頂きご登録をお願いいたします。</small>
                            <ul>
                                <li>①運転免許証</li>
                                <li>②健康保険</li>
                            </ul>
                             {{ form.identification }}
                        </div>
                    </div>
                    <div class="credentials">
                         <h6>■資格証明書</h6>
                        <div class="credentials-info">
                            <small style="display:block;margin-bottom:10px; font-size: 12px;">有効期限内の資格証明書を撮影頂きご登録をお願いいたします。</small>
                              {{ form.credentials }}
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>


                    <h5>NDA（秘密保持契約)</h5>
                    <br>
                    <p>
                        NDA（秘密保持契約）とは、カウンセリングやその他の仕事の依頼によってお互いに知り得た秘密情報を他社に漏らさないことを約束する契約です。MeAndとNDAを締結することで、お互いに安心して情報のやりとりができるようになります。</p>
                    <br>
                    <br>
                    <h6>NDA概要</h6>
                    <p>{{ user.last_name }}{{ user.first_name }}（以下「甲」という）とMeAnd（以下「乙」という）とは、両当事者が開示する情報の取り扱いについて、次のとおりに契約を締結する。</p>
                    <br>
                    <h6>第1条（秘密情報）</h6>
                    <p>本契約における「秘密情報」とは、以下の①ないし③の情報を含む。</p>
                    <p>① 乙のサービスを利用して仕事やメンタリングを依頼するクライアントおよびカウンセラーの情報</p>
                    <p>② ①におけるクライアントおよびカウンセラーが発注する仕事・メンタリングに関する情報</p>
                    <p>③ ユーザーが、乙のサービスを利用して受注した仕事・メンタリングに関して、クライアントおよびカウンセラーまたは乙から受領した情報
                        なお、開示を受けた当事者が書面によってその根拠を立証できる場合に限り、以下の情報は秘密情報の対象外とするものとする。
                    </p>
                    &nbsp;<p>（1）開示を受けたときに既に保有していた情報</p>
                    &nbsp;<p>（2）開示を受けた後、秘密保持義務を負うことなく第三者から正当に入手した情報</p>
                    &nbsp;<p>（3）開示を受けた後、相手方から開示を受けた情報に関係なく独自に取得し、又は創出した情報</p>
                    &nbsp;<p>（4）開示を受けたときに既に公知であった情報</p>
                    &nbsp;<p>（5）開示を受けた後、自己の責めに帰し得ない事由により公知となった情報</p>
                    <br>
                    <br>
                    <h6>第2条（秘密情報等の取扱い）</h6>
                    <p>
                        1.甲又は乙は、相手方から開示を受けた秘密情報及び秘密情報を含む記録媒体若しくは物件（複写物及び複製物を含む。以下「秘密情報等」という。）の取扱いについて、次の各号に定める事項を遵守するものとする。</p>
                    &nbsp;<p>（1）情報取扱管理者を定め、相手方から開示された秘密情報等を、善良なる管理者としての注意義務をもって厳重に保管、管理する。</p>
                    &nbsp;<p>（2）秘密情報等は、本取引の目的以外には使用しないものとする。</p>
                    &nbsp;<p>（3）秘密情報等を複製する場合には、本取引の目的の範囲内に限って行うものとし、その複製物は、原本と同等の保管、管理をする。</p>
                    &nbsp;<p>（4）漏えい、紛失、盗難、盗用等の事態が発生し、又はそのおそれがあることを知った場合は、直ちにその旨を相手方に書面をもって通知する</p>
                    <p>2.
                        甲又は乙は、次項に定める場合を除き、秘密情報等を第三者に開示する場合には、書面により相手方の事前承諾を得なければならない。この場合、甲又は乙は、当該第三者との間で本契約書と同等の義務を負わせ、これを遵守させる義務を負うものとする。</p>
                    <p>3. 甲又は乙は、法令に基づき秘密情報等の開示が義務づけられた場合には、事前に相手方に通知し、開示につき可能な限り相手方の指示に従うものとする。</p>
                    <br>
                    <br>
                    <h6>第3条（返還義務等）</h6>
                    <p>1.
                        本契約に基づき相手方から開示を受けた秘密情報を含む記録媒体、物件及びその複製物（以下「記録媒体等」という。）は、不要となった場合又は相手方の請求がある場合には、直ちに相手方に返還するものとする。</p>
                    <p>2.
                        前項に定める場合において、秘密情報が自己の記録媒体等に含まれているときは、当該秘密情報を消去するとともに、消去した旨（自己の記録媒体等に秘密情報が含まれていないときは、その旨）を相手方に書面にて報告するものとする。</p>
                    <br>
                    <br>
                    <h6>第4条（損害賠償等）</h6>
                    <p>
                        甲若しくは乙、甲若しくは乙の従業員若しくは元従業員又は第二条第二項の第三者が相手方の秘密情報等を開示するなど本契約の条項に違反した場合には、甲又は乙は、相手方が必要と認める措置を直ちに講ずるとともに、相手方に生じた損害を賠償しなければならない。</p>
                    <br>
                    <br>
                    <h6>第5条（有効期限）</h6>
                    <p>
                        本契約は、本契約締結の日から、甲または乙が、本契約を終了する旨、相手方に申し入れるまで有効に存続する。ただし、本契約の終了後といえども、第2条、第4条、第7条および本条但書の規定については、本契約終了後も3年間存続するものとする。</p>
                    <br>
                    <br>
                    <h6>第6条（協議事項）</h6>
                    <p>本契約に定めのない事項について又は本契約に疑義が生じた場合は、協議の上解決する。</p>
                    <br>
                    <br>
                    <h6>第7条（管轄）</h6>
                    <p>本契約に関する紛争については東京地方（簡易）裁判所を第一審の専属管轄裁判所とする。</p>
                    <br>
                    <br>
                    <p class="today">{% now "Y" %}年{% now "F" %}{% now "j" %}日({% now "D" %})</p>
                    <br>
                    <br>

                    <p>甲&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：{{ form.address }}</p><br>
                    <p>氏名：{{ form.signature }}</p>
                    <br>
                    <p>乙：東京都杉並区高円寺南3-62-7 グリーンロード102</p>
                    <p>MeAnd</p>
                    <br><br>
                    <p>MeAnd個人情報の取り扱いに同意 &nbsp;{{ form.agreement }}</p><br><br>
                    <hr>
                    <button type="submit" class="btn btn-info" value="">プロフィールの登録</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}