{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'profile_header.html' %}
    <br>
    <div class="container-fluid">
    <div class="row">
        {% include 'left_sideber.html' %}
        <div class="col-md-1"></div>
        <div class="col-md-9 profile-card">
            <div class="accordion" id="accordionExample">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-header" id="headingOne">
                        <div>
                            <a style="font-size: 18px;" type="button" data-toggle="collapse"
                               data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                プロフィール
                            </a>
                        </div>
                        <div class="edit" style="margin-top:10px;">
                            <a href="{% url 'accounts:profile_edit' %}" style="font-size: 10px;" type="button"
                               class="btn btn-info">編集</a>
                        </div>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 label">
                                    <p>お名前</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ my_page.user.last_name }}{{ my_page.user.first_name }}</p>
                                </div>
                                <div class="col-md-3 label">
                                    <p>年齢</p>
                                </div>
                                <div class="col-md-9 ">
                                    <p>{{ my_page.age }}歳</p>
                                </div>
                                <div class="col-md-3 label">
                                    <p>性別</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ my_page.get_gender_display }}</p>
                                </div>
                                <div class="col-md-3 label">
                                    <p>お住まいのエリア</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ my_page.pref }}</p>
                                </div>
                                <div class="col-md-3 label">
                                    <p>保持資格</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ my_page.qualification }}</p>
                                </div>
                                <div class="col-md-3 label">
                                    <p>カウンセラー経験</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ my_page.years_of_experience }}年</p>
                                </div>
                                <div class="col-md-3 label">
                                    <p>ご経歴</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ my_page.career | linebreaksbr }}</p>
                                </div>
                                <div class="col-md-3 label">
                                    <p>自己紹介</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ my_page.self_introduction | linebreaksbr }}</p>
                                </div>
                                <div class="col-md-3 label">
                                    <p>FaceBook</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ my_page.face_book | urlize }}</p>
                                </div>
                                <div class="col-md-3 label">
                                    <p>Twitter</p>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ my_page.Twitter| urlize }}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-header " id="headingTwo">
                        <h5 class="mb-0">
                            <a class="btn btn-link collapsed" type="button" data-toggle="collapse"
                               data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                プラン一覧
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% for plan in plan_list %}
                                <p>{{ plan.title }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                予約リスト
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                          <p>test</p>
                            {% for plan in plan_list %}
                                {% for re in plan.reservation_set.all %}
                                    {{ re }}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>


{% endblock %}