{% extends 'my_page_base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-1"></div>

            <div class="col-md-8">
                <h4 style="margin-top: 10px">プロフィール編集</h4>
                <hr>
                <br>

                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        {% if form.non_field_errors %}
                            <div class="errorlist">
                                {% for error in form.non_field_errors %}
                                    {{ error }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="col-md-2">
                            <p>お名前:</p>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group form-inline">
                                <label for="{{ user_form.last_name.id_for_label }}">性</label>&nbsp;&nbsp;
                                {{ user_form.last_name }}&nbsp;&nbsp;&nbsp;
                                <label for="{{ user_form.first_name.id_for_label }}">名</label>&nbsp;&nbsp;
                                {{ user_form.first_name }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        {% if not user.is_staff or user.is_superuser %}
                            <div class="col-md-2">
                                <div class="field">
                                    <p>ニックネーム</p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                   <span style="color: red">※必須</span>{{ profile_form.nick_name }}
                                    <p style="color:red">※カウンセラーにはニックネームが表示されます。</p>
                                    {{ form.nick_name.help_text }}
                                    {{ profile_form.nick_name.errors }}
                                </div>
                            </div>
                            <br><br><br>
                            <div class="col-md-2">
                                <div class="field">
                                    <p>年齢</p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ profile_form.age }}
                                    <span class="helptext">{{ pforile.age.help_text }}</span>
                                    {{ profile_form.age.errors }}
                                </div>
                            </div>
                            <br><br><br>

                            <div class="col-md-2">
                                <div class="field">
                                    <p>性別</p>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ profile_form.gender }}
                                    <span class="helptext">{{ pforile.gender.help_text }}</span>
                                    {{ profile_form.gender.errors }}
                                </div>
                            </div>
                            <br><br> <br>
                            <div class="col-md-2">
                                <div class="field">
                                    <p>お電話番号</p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ profile_form.phone }}
                                    {{ profile_form.phone.help_text }}
                                    {{ profile_form.phone.errors }}
                                </div>
                            </div>
                            <br><br><br>
                            <div class="col-md-2">
                                <div class="field">
                                    <p>都道府県</p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ profile_form.pref }}
                                    {{ pforile_form.pref.help_text }}
                                    {{ profile_form.pref.errors }}
                                </div>
                            </div>
                            <br><br><br>

                            <div class="col-md-2">
                                <div class="field">
                                    <p>ご職業</p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ profile_form.occupation }}
                                    <span class="helptext">{{ pforile.occupation.help_text }}</span>
                                    {{ profile_form.occupation.errors }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="field">
                                    <p>プロフィール写真</p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ profile_form.face_image }}
                                    <span class="helptext">{{ pforile.occupation.help_text }}</span>
                                    {{ profile_form.occupation.errors }}
                                </div>
                            </div>
                            <br><br>
                            <div class="profile-btn">
                                <button type="submit" class="btn btn-info " data-bs-dismiss="alert" aria-label="Close">
                                    登録
                                </button>
                            </div>

                            </form>
                            </div>
                        {% else %}

                            {% for field in profile_form %}
                                <div class="col-md-2">
                                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="errorlist">
                                                {% for error in field.errors %}
                                                    {{ error }}<br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <br><br> <br><br>


                            {% endfor %}

                            <div class="profile-btn">
                                <button type="submit" class="btn btn-info " data-bs-dismiss="alert" aria-label="Close">
                                    登録
                                </button>
                            </div>

                        {% endif %}


            </form>
        </div>
    </div>

    </div>

    </div>
{% endblock %}