{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <!-- MessageModal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">
                        {{ message_receiver.last_name }}{{ message_receiver.first_name }}さんへメッセージを送る
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">{% csrf_token %}
                        {{ form }}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-info"><a
                                href="{% url 'message:send_message' object.user.pk %}"
                                style="color: #ffffff">送信</a></button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>


            </div>

        </div>
    </div>

    <div class="container-fluid plan-detail-fix">
        <div class="row row-eq-height  my-5">
            <div class="col-md-12 col-lg-8">
                <div class="plan-title">
                    <h4 class="font-weight-light">{{ object.title }}</h4>
                </div>
                <div class="plan-status-1 row">
                    <div class="col-md-12">
                        <h6 style="float: left">評価：★★★★★（23）</h6><h6>カテゴリー：<span>{{ object.category }}</span></h6>
                    </div>
                </div>
                <div class="plan-status-2 row justify-content-between">
                    <div class="col-4 ">
                        <p class="h-25" style="float: left">面談形式：</p>
                        {% for style in object.style_choices.all %}
                            <p class="badge badge-info">{{ style }}</p>
                        {% endfor %}
                    </div>

                </div>

                <div class="plan-target row ">
                    <div class="col-12">
                        <h5>こんな方が対象です</h5>
                        <hr>
                        <p>{{ object.target | linebreaksbr }}</p>
                    </div>
                </div>
                <hr>
                <div class="plan-detail row">
                    <div class="col-m-12">
                        <h5>プラン内容</h5>
                        <p>{{ object.detail | linebreaksbr }}</p>

                    </div>

                </div>
                <hr>
                <div class="row button-area">
                    <button class="col-md-3 btn btn-info"><a href="{% url 'reservation:calendar' object.pk %}"
                                                             style="color: #FFFFFF">申し込む</a></button>
                </div>
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-md-12 col-lg-4">
                {% include 'left_sideber.html' %}

            </div>
            <!-- /.col-md-4 -->
        </div>
        <br>
        <br>
        <br>
        <br>
        <h4>同じカテゴリーのプラン</h4>
        <hr>
        <!-- /.row -->
    {% include 'recommend_list.html' %}


    </div>
    </div>

    <!-- Content Row -->


    </div>

    </div>


{% endblock %}