{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h5>カウンセラー：{{ staff.user.first_name }}{{ staff.user.last_name }} </h5>
        <p>{{ view.kwargs.year }}年{{ view.kwargs.month }}月{{ view.kwargs.day }}日 {{ view.kwargs.hour }}時に予約</p>
        <p>{{ message }}</p>
        <form action="" method="POST"> {% csrf_token %}
               {{ form.as_p }}
            <br>
            <br>
            <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_test_51IU2lyEl5zmDEOnOeHwSO89J1gW1d6JYlgZcjWsN9zkJHs0ix5qYhpGeczZWNAEoAYUNXMvDDmul0pbAwp6YYGwr00BdWMwIzd"
                data-amount="{{ plan.price }}"
                data-name="MeAnd"
                data-description="{{ plan.title }}"
                data-image="{% static '/icon/MeAnd_Logo1.png' %}"
                data-locale="ja"
                data-currency="jpy"
                data-email="{{ user.email }}">
            </script>
            <button type="submit" class="btn-info">送信</button>
        </form>
    </div>
      <script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
