body {
    font-family: "Noto Sans JP",'M PLUS 1p', sans-serif;
}

h2 {
    font-size: 32px;
    color: #212529;
}

body p {
    font-size: 14px;
    color: #333333;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-secondary {
    background-color: #6c6e7e;

}

.btn {
    border-radius: 0px;
    border: none;
}

.btn-info {
    color: #fff;
    background-color: #39C4D9;
}

.badge-info {
    background-color: #39C4D9;
    font-weight: normal;

}
.fa-check-circle{
    color: #39C4D9;
}

/*プロフィール*/
.profile-header {
    background-color: #BBC9B7;
    height: 50px;
    /*margin-bottom: 100px;*/
}

.content-wrapper {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    height: 100px;
}

.message-face-img {
    width: 50px;
    border-radius: 80px;
    border: solid 2px #BBC9B7;
}

.header-face-image {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}

.header-face-image img {
    width: 140px;
    border-radius: 70px;
    border: solid 7px #BBC8B6;
}

.header-name {
    float: left;
    margin: 50px 20px;
    color: #ffffff;
}

.label {
    text-align: center;
    margin-bottom: 10px;
}


.cate-title h4 {
    color: #FFFFFF;
}

.cate-title {
    background-color: #56C500;
    padding-bottom: 1px;
    padding-top: 5px;
    text-align: center;
    border-radius: 10px;
    border: solid 0px;
}

a {
    text-decoration: none;

}

.card {
    max-width: 300px;
}

.card-img-top {
    height: 120px;
    display: inline-block;
    margin: 0;
    padding: 0;
}


.face-image {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    /*background-color: #aaa;*/

}

.face-image img {
    border-radius: 50px;
    border: none;
    width: 90px;
}

.cons-name {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    /*background-color: red;*/
}

/*.name {*/
/*    font-size: 14px;*/
/*    margin-top: 15px;*/
/*    margin-left: 10px;*/
/*}*/

.qualification {
    color: #aaaaaa;
    margin-left: 10px;
}

.cons-detail {
    height: auto;
    border: solid 1px #F8F9FA;
}

.detail-header {
    height: auto;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.detail-image {
    float: left;
}

.detail-status {
    margin-top: 25px;
    margin-left: 30px;
    float: left;
}

.detail-status p {
    font-size: 13px;
    color: gray;
    padding-top: 4px;
}

.cons-style {
    float: right;
    /*background-color: #56C500;*/
    display: inline-block;
    margin-top: 70px;
    padding: 0;
}

.style-icon {
    float: left;
}

.style-icon img {
    width: 30px;
}

.style-info {
    float: right;
    margin-top: 5px;
    margin-left: 10px;
}

.plan-detail p {
    line-height: 27px;
}


.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.area p {
    text-align: right;
    color: gray;
}

.price {
    margin-top: 10px;
}

.price .s {
    font-weight: bold;
    font-size: 10px;
    color: #666666;
    background-color: #EEEEEE;
    text-align: left;
    border: solid 0px;
    border-radius: 10px;
    padding: 3px 10px;
}

.price span {
    font-weight: bold;
    color: #333333;
}

.target p {
    line-height: 27px;
}

.button-area {
    display: inline-block;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: left;
}


.profile-card {
    min-height: 100px;

}

.card {
    max-width: 800px;
}

.card-header {
    background-color: #FFFFFF;

}

.detail-image img {
    width: 120px;
    border-radius: 80px;
    border: solid 4px #23c3c3;
}

.style-icon {
    margin-right: 5px;
}

.user-list {
    max-height: 300px;
    height: 100%;
}

/*プラン詳細*/
.plan-detail-fix {
    width: 80%;
}

/*プランリスト*/
.plan-list {
    /*max-height: 200px;*/
}

.plan-list-body {
    padding: 0;
}

/*メッセージアラート*/
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    font-size: 12px;
    padding: 7px;
}

.messages_ul li {
    text-align: center;
}

.messages {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.alert-success {
    color: #1e4e0a;
    font-size: 12px;
    background-color: #C6D6C5;
    border-color: #c3e6cb;
    padding: 7px;
}

.alert-warning {
    color: #866307;
    font-size: 12px;
    background-color: #FFF3CD;
    border-color: #FFEEBA;

}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 12px;
    padding: 7px;
}

/*alert-end*/

/*カウンセラーガイダンス*/
.main-image {
    background-image: url('/static/img/AdobeStock_409890226_Fotor.jpg');
    background-size: cover;
    height: 650px;

}

.main-message{
    text-align: center;
}

.title-message img{
    margin-top: 40px;
    width: 500px;

}

.image-message img{
    margin-top: -150px;
    width: 200px;
}

.register-section{
    height: 300px;

}

.process-img ul li img{
    width: 200px;
}

.action-card-body h2{
    color: #3d3e47;
    font-family: "Noto Sans JP";

}

.action-card-body li{
    font-size: 20px;
    color: #5a5c69;
}

.register-process h2{
    color: #3d3e47;
    font-family: "Noto Sans JP";
}