.container-fluid {
    max-width: 1300px;
}

#id_age, #id_gender, #id_pref,
#id_years_of_experience,
#id_first_name, #id_last_name{
    max-width: 80px;
    border-radius: 2px;
    font-size: 12px;
}
#id_occupation{
    max-width: 160px;
    border-radius: 2px;
    font-size: 12px;
}
#id_face_image{
    max-width: 250px;
    border-radius: 2px;
    font-size: 12px;
    height: 40px;
    border: none;
}


.form-group {
     font-size: 12px;
}
.profile-btn{
    width: 900px;
    text-align: right;
    margin-top: 20px;
}

label, p {
    font-size: 12px;

}

.sidebar-left {
    max-height: 800px;
    height: 100%;
}

.email, .password {
    text-align: left;
    margin-left: 25px;
}

.sidebar-face-image {
    margin-bottom: 10px;
}

.menu {
    text-align: left;
    margin-left: 25px;
}

ul li img {
    display: inline-block;
    width: 18px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0;
}

ul li {
    /*font-size: 12px;*/
    /*line-height: 25px;*/
}
.edit a:visited {
    color: #FFFFFF;
}
a:link {
    color: #333333;
}

a:visited {
    color: #333333;
}
a:hover {
    color: #26C2C3;
}

a:active {
    color: #26C2C3;
}