.navbar{
    background-color: #FFFFFF;
    padding: 0;

}
.navbar-collapse{
    max-width: 1550px;
    margin: auto 10px;
}
.navbar-brand{
    margin-left: 20px;
}
.navbar a{
    font-size: 14px;
    color: #696a6c;
}

.dropdown-menu{
    line-height: 20px;
    width: 5px;
    border: none;
}

.dropdown-menu a{
    font-size: 12px;

}


.back-image{
    height: 500px;
    width: 1200px;
}

.register li{
    margin-top: 20px;
    margin-bottom: 0px;
}

.register .c-register{
    font-size: 5px;
    color: #15A3B8;
}


/*トップイメージ*/
.top-image{
    background-image:  url('/static/img/AdobeStock_410052419_Fotor.jpg');
    background-size:cover;
    height: 750px;
}

.top-message h1{
    writing-mode: vertical-rl;
    font-size: 45px;
    margin: 150px auto;
    color: #FFFFFF;
    letter-spacing:10px;
    font-family: "Noto Sans JP";
    font-weight: 500;

}