{% load socialaccount %}
{% load static %}
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <li>
                <a title="{{ brand.name }}"
                   class="socialaccount_provider {{ provider.id }} {{ brand.id }}"
                   href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                >{{ brand.name }}</a>
            </li>
        {% endfor %}
    {% endif %}
    {% with 'icon/'|add:provider.name|add:'.png' as icon_tag %}
        <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }}"
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
            <img style="width: 150px" src="{% static icon_tag %}" alt=""></a>
    {% endwith %}

{% endfor %}
