{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="mr-lg-auto col-lg-3">
                <div class="border-0 mb-3 mb-lg-0 card">
                    <div class="p-4 card-body">
                        <ul class="text-muted card-text">
                            <li class="py-1">Home</li>
                            <li class="py-1">プランの作成</li>
                            <li class="py-1"><a href="{% url 'message:message_list' %}">メッセージの確認</a></li>
                            <li class="py-1">機密保持契約</li>
                            <li class="py-1">プロフィール</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="card-section col-lg-9">
                {% for list in object_list %}
                    {% if list.user != request.user %}
                        <div class="row card-header">
                            <div class="img col-2　align-items-center">
                                {% if list.user.profile.face_image %}
                                    <img src="{{ list.user.profile.face_image.thumbnail.url }}" class="message-face-img">
                                {% endif %}
                            </div>
                            <p class="col-10 align-items-center">
                                <a href="{% url 'message:send_message' list.user.pk %}">
                                    {{ list.user.last_name }}{{ list.user.first_name }}{{ list.created_at }}</a>
                            </p>
                        </div>

                        <div class="card-body">
                            <p class="card-text">{{ list.send_text }}</p>
                        </div>
                        <hr>

                    {% else %}
                         <div class="row card-header">
                            <div class="img col-2　align-items-center">
                                {% if list.user_2.profile.face_image %}
                                    <img src="{{ list.user_2.profile.face_image.thumbnail.url }}" class="face-img">
                                {% endif %}
                            </div>
                            <p class="col-10 align-items-center">
                                <a href="{% url 'message:send_message' list.user_2.pk %}">
                                    {{ list.user_2.last_name }}{{ list.user_2.first_name }}{{ list.created_at }}</a>
                            </p>
                        </div>

                        <div class="card-body">
                            <p class="card-text">{{ list.send_text }}</p>
                        </div>
                        <hr>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}

