{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'header.html' %}

    <section>
    <div class="container-fluid">
        <div class="features-title">
            <h1 class="text-center m-5">MeAndの特徴</h1>
        </div>
        <div class="features-contents">
            <div class="row">
                <div class="col-lg-6">
                    <p>対面もオンラインも柔軟にマッチングします</p>
                </div>
                <div class="col-lg-6">
                    <p>地域から身近なカウンセラーを探せます</p>
                </div>

            </div>
             <div class="row">
                <div class="col-lg-6">
                    <p>カウンセリング、コーチングと用途に合わせてカウンセラーを選べます</p>
                </div>
                <div class="col-lg-6">
                    <p>ほげ</p>
                </div>
            </div>

        </div>

    </div>


    </section>
    <section>
        <div class="container-fluid">
            <div class="counseling-info">
                <h1 class="m-5">カウンセリングとコーチングの違い</h1>
            </div>
        </div>
    </section>
    <section>
    <div class="container-fluid">
        <div class="use-info">
            <h1 class="m-5">ご利用の流れ</h1>
        </div>
    </div>
    </section>

    <section>
    <div class="container-fluid">
        <div class="customer-voice">
            <h1 class="m-5">お客様の声</h1>
        </div>
    </div>
    </section>




{% endblock %}