{% load static %}
<div class="card border-0">
    <div class="card-body m-0 p-1">
        <div class="profile mt-0 p-0">
            <ul class="pl-0">
                <li class="text-center"><small>{{ object.user.profile.career | linebreaksbr }}</small></li>
            </ul>
        </div>
        <ul class="message-button list-group">
            {% if user.is_authenticated %}
                <li class="list-group-item border-0 text-center">
                    <button class="btn btn-info pt-2 pb-2" data-toggle="modal" data-target="#exampleModalCenter"
                            type="button" style="font-size: 11px;">メッセージで相談
                    </button>
                </li>
            {% else %}
                <li class="list-group-item border-0 text-center">
                    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" type="button"
                            style=" font-size: 11px">
                        <a href="{% url 'account_login' %}?=next{{ request.path }}" style="color: #FFFFFF">メッセージで相談</a>
                    </button>
                </li>
            {% endif %}
            {% if follow_check == True %}
                <form action="{% url 'follow:follow' object.pk %}" method="post">{% csrf_token %}
                    <li class="list-group-item border-0 text-center">
                        <button class="btn btn-info" type="submit" style="font-size: 12px; width: 100px">フォロー解除</button>
                    </li>
                </form>
            {% else %}
                <form action="{% url 'follow:follow' object.pk %}" method="post">{% csrf_token %}
                    <li class="list-group-item border-0 text-center">
                        <button class="btn btn-info w-auto" type="submit" style="font-size: 12px;width: 100px;">フォローする</button>
                    </li>
                </form>
            {% endif %}
        </ul>
        <ul class="sidebar-menu">

        </ul>
        <div class="sidebar-sns">
            <div class="set-sns">
                <img src="{% static '/icon/twitter.png' %}" class="twitter">
                <img src="{% static '/icon/f_logo_RGB-Blue_72.png' %}" class="facebook">
            </div>
        </div>

    </div>


</div>


