{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>myp age</title>
    <link rel="stylesheet" href="{% static 'mypage/css/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/navs/_global.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/navs/_sidebar.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/navs/_topbar.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/utilities/_animation.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/utilities/_background.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/utilities/_border.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/utilities/_display.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/utilities/_progress.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/utilities/_rotate.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/utilities/_text.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_buttons.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_cards.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_charts.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_dropdowns.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_error.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_footer.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_global.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_login.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_mixins.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_navs.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_utilities.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/_variables.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/scss/sb-admin-2.scss' %}">
    <link rel="stylesheet" href="{% static 'mypage/calendar.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&family=Noto+Serif+JP:wght@500;900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/ca32f5216d.js" crossorigin="anonymous"></script>
</head>

{% block content %}

{% endblock %}


<script src="{% static 'mypage/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'mypage/js/demo/chart-bar-demo.js' %}"></script>
<script src="{% static 'mypage/js/demo/chart-pie-demo.js' %}"></script>
<script src="{% static 'mypage/js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'mypage/js/sb-admin-2.min.js' %}"></script>


