<section class="recommend-list mt-md-5">
            <div class="row">
                {% for item in self_category_list  %}
                <div class="col-lg-3">
                    <div class="card" style="width: 15rem; height: 250px">
                        <div class="img-thumbnail text-center">
                              <a href="{% url 'main:plan_detail' item.pk %}" id="recommend"><img src="{{ item.plan_sign.thumbnail.url }}"></a>
                        </div>

                        <div class="card-body">
                            <h6 class="card-title">{{ item.title }}</h6>

                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </section>