{% extends 'my_page_base.html' %}
{% block content %}
    <div id="app">
        <div class="container">
            <div class="row form-group">
                <div class="col-xl-2">
                     <label for="title">タイトル</label>
                </div>
                <div class="col-xl-10">
                     <input id="title" type="text" class="form-control" v-model="title">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2">
                     <label for="catch_message">アイキャッチメッセージ</label>
                </div>
                <div class="col-xl-10">
                      <input id="catch_message" class="form-control" v-model="catch_message">
                </div>
            </div>





            <select v-model="selectedPref" v-on:change="fetchTags">
                <option>選択してください</option>
                <option v-for="item in pref" :key="item.id" :value="item.id">[[ item.pref_name ]]</option>
            </select>
            <select v-model="selectedCity">
                <option v-for="item in city.city" :key="item.id">[[ item.city_name]]</option>
            </select>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const plan_type = ['単発', '継続']
        const vm = new Vue({
            delimiters: ['[[', ']]'],
            el: "#app",
            data() {
                return {
                    pref: '',
                    city: '',
                    selectedPref: '',
                    selectedCity: '',
                    title: '',
                    catch_message: '',
                    detail: '',
                    target: '',
                    plan_type: plan_type,
                    price: '',
                    session_tile: '',
                    counseling_active: '',
                    release: false,
                    created_at: '',
                    updated_at: ''
                }
            },
            methods: {
                fetchTags: function () {
                    let obj = this.pref
                    let i = this.selectedPref
                    let j = i - 1
                    return console.log(this.city = obj[j])
                }
            },
            mounted() {
                axios
                    .get('http://127.0.0.1:8080/api/v1/pref_list/')
                    .then(response => {
                        (this.pref = response.data),
                            console.log(response.data)
                    })
                    .catch(error => {
                        console.log(error),
                            this.errord = true
                    })
                    .finally(() => this.loading = false)
                axios
                    .post('http://127.0.0.1:8080/api/v1/plan_create/', {})
                    .then()


            }
        })


    </script>
{% endblock %}
</body>
</html>